GROUP='umcg-pgx'
PIPELINECOLUMN='analysis'
PROJECTCOLUMN='project'
REPLACEDPIPELINECOLUMN='AGCT+PGX'
RAWDATAPROCESSINGFINISHED='run01.demultiplexing.finished'
GROUP_ARRAY='umcg-pgx'
analysisFolder='Analysis'


declare -a RAWDATATYPES=(
	'ngs'
)
declare -a ARRAY_OTHER_DAT_LFS_ISILON=(
	'dat05'
	'dat06'
	'dat07'
)
### action_method_entity_field
declare -a NOTIFICATION_ORDER_PHASE_WITH_STATE=(
	'arrayConversion:started'
	'arrayConversion:failed'
	'startInhouseDragenPipeline:failed'
)

declare -A NOTIFY_FOR_PHASE_WITH_STATE=(
	['arrayConversion:failed']='channel'
	['arrayConversion:started']='channel/1t'
	['startNextflowDragenPipeline:started']='channel/4t'
)
