GROUP='umcg-pgx'
PIPELINECOLUMN='analysis'
PROJECTCOLUMN='project'
REPLACEDPIPELINECOLUMN='AGCT+PGX'
RAWDATAPROCESSINGFINISHED='run01.demultiplexing.finished'
GROUP_ARRAY='umcg-pgx'
analysisFolder='Analysis'


declare -a RAWDATATYPES=(
	'ngs'
)
declare -a ARRAY_OTHER_DAT_LFS_ISILON=(
	'dat05'
	'dat06'
	'dat07'
)
### action_method_entity_field
declare -a NOTIFICATION_ORDER_PHASE_WITH_STATE=(
	'arrayConversion:trace_post_overview.csv'
	'arrayConversion:started'
	'arrayConversion:failed'
	'arrayConversion:finished'
)

declare -A NOTIFY_FOR_PHASE_WITH_STATE=(
	['arrayConversion:trace_post_overview.csv']='trace/post/overview/overview'
	['arrayConversion:failed']='trace/put/overview/process_raw_data|channel'
	['arrayConversion:started']='trace/put/overview/process_raw_data|channel/1t'
	['arrayConversion:finished']='trace/put/overview/process_raw_data'
)
